<footer>
    <div class="f-info">
       <div class="f-info-socials">
       <a href="https://www.facebook.com/" class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/" class="instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/" class="linkdin"><i class="fa-brands fa-linkedin-in"></i></a>
       </div>
       <div class="f-info-brand">&copy;WanderLand Private Limited</div>
       <div class="f-info-links">
        <a href="/privacy">Privacy &nbsp;&nbsp;</a>
        <a href="/terms">Terms</a>
       </div>
    </div>
    <div class="f-info-extra">
        <p>Discover amazing places to stay and explore around the world. Your adventure starts here!</p>
        <p>Contact us: <a href="mailto:info@wanderland.com">info@wanderland.com</a> | Phone: +1 (555) 123-4567</p>
        <p>Follow us on social media for travel tips, destination guides, and exclusive deals.</p>
    </div>
</footer>
