<% layout("/layouts/boilerplate") %>

<div class="alert alert-danger col-6 offset-3" role="alert">
  <h4 class="alert-heading">Error <%= err.status %></h4>
  <p><%= err.message %></p>
  <hr>
  <p class="mb-0">Please go back to the <a href="/">homepage</a>.</p>

</div>